-
  var menuItems = [
    {
      name: 'Главная',
      anchorSelector: 'main'
    },
    {
      name: 'Обо мне',
      anchorSelector: 'about'
    },
    {
      name: 'Навыки',
      anchorSelector: 'skills'
    },
    {
      name: 'Работы',
      anchorSelector: 'portfolio'
    },
    {
      name: 'Отзывы',
      anchorSelector: 'feedback'
    },
    {
      name: 'Связаться',
      anchorSelector: 'contacts'
    }
  ]

mixin icon(className,name)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=`${className}__icon` viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin icon-bg(className, name)
  div(class=`${className}__icon ${className}__icon--${name}`)

mixin image(className, path)
  img(src=require(`images/${path}`) class=className)

mixin navlink(className,name,ref='#', anchorSelector='')
  li(class=`${className}__item`)
    a(class=`${className}__link` href=`${ref}` data-anchor=`${anchorSelector}`)=name

mixin nav(className,items,activeItem=0)    
  nav(class=`${className}`)
    ul(class=`${className}__list`)
      each item in items
        +navlink(className,item.name,item.ref,item.anchorSelector)

mixin social-icon(className,name,icon,ref='#')
    li(class=`${className}__item`)
      a(class=`${className}__link ${className}__link--${icon}` href=`${ref}` title=`${name}`)
        //- +icon-bg(className,icon)

mixin socials(className,items,activeItem=0)        
  ul(class=`${className}`)
    each item in items
      +social-icon(className,item.name,item.icon,item.ref)

mixin ring(className,label)      
  div.ring.ring__border(class=`${className}__ring`)
    svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
      circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position-under
      circle(r="80" cx="100" cy="100").skill__circle.skill__circle--position-above
      linear-gradient()
    span.ring__label= label

mixin ring-block(className,items,title)    
  div(class=`${className}`)
    h3(class=`${className}__title`)=title
    ul(class=`${className}__list`)
      each item in items
        +ring(`${className}`,item.label)

mixin preview-img-thmb(className,path,activeClass='')
  img(src=require(`images/${path}`) class=`${className}__thmb preview-img__thmb ${activeClass}`)

mixin preview-block-thmb(className, items, activeItem)  
  ul(class=`${className}__block-thmb preview-img__block-thmb`)
    each item,index in items 
      if index === activeItem 
        +preview-img-thmb(className,item.path, 'preview-img__thmb--active') 
      else 
        +preview-img-thmb(className,item.path)

mixin preview(className,path,items,activeItem)
  div(class=`${className} preview-img`)
    +image(`${className}__img preview-img__img`,path)
    +preview-block-thmb(className,items,activeItem)
    div(class=`{className}__nav preview-img__nav`)
      a(class=`{className}__nav-button preview-img__nav-button preview-img__nav-button-up` href='#') 
        //- +icon(`preview-img__icon ${className}`,'short-arrow')
      a(class=`{className}__nav-button preview-img__nav-button preview-img__nav-button-down` href='#') 
        //- +icon(`preview-img__icon ${className}`,'short-arrow')

mixin review-item(item)
  li.review-item
    .review-item__content= item.text
    .review-item__footer
      .review-item__avatar
        .avatar-mini
          +image('avatar-mini__img',`${item.path}`)
      .review-item__user
        .review-item__user-name= item.username
        .review-item__user-position= item.position

mixin reviews(className,items)
  ul(class=`${className} review-block`)
    each item in items
      +review-item(item)

mixin nav-list(listClass, itemClass, linkClass)
  ul(class=`${listClass}`)
    each item in menuItems 
      li(class=`${itemClass}`)
        a(href="#" class=`${linkClass} js-anchor-link`, data-anchor=`${item.anchorSelector}`)= item.name