script(type='x/template')#preview-nav
  div(class='preview-img__nav' :class='classNav')
    a(class='preview-img__nav-button preview-img__nav-button-up' :class='classNavButton' href='#' @click.prevent='$emit("up")') 
    a(class='preview-img__nav-button preview-img__nav-button-down' :class='classNavButton' href='#' @click.prevent='$emit("down")') 

script(type='x/template')#preview-thmb
  img(:src='image' :class='classThmb' class='preview-img__thmb' @click.prevent='handleClick')

script(type='x/template')#preview-slider
  transition-group(
    tag='div' 
    class='preview-img__block-thmb' 
    @before-enter="beforeEnter"
    @enter="enter"
    @after-enter="afterEnter"
    @enter-cancelled="enterCancelled"
    @before-leave="beforeLeave"
    @leave="leave"    
    mode='in-out'
  )
    previewThmb(
      :className='className' 
      v-for='(item,index) in windowItems' 
      :image='item.photo' 
      :index='index' 
      :key='item.id' 
      :active='activeIndex===index+startOffset' 
      @select='$emit("select",$event)'
    )

script(type='x/template')#preview-image
  .preview-container
    transition-group(tag='div' class='preview-img' name='slide')
      img(
        v-for='number in [activeIndex]' 
        :key='number' 
        :src='currentImage' 
        :class='classImage' 
        class='preview-img__img preview-img__img--right'
      )
    slot

script(type='x/template')#preview-main
  .preview-content
    .preview-content__img(:data-index='activeIndex+1')
      previewImage(:className='className' :items='items' :activeIndex='activeIndex')
        previewSlider(:className='className' :items='items' :activeIndex='activeIndex' @select='selectImage' )
        previewNav(:className='className' @up='changeImage("up")' @down='changeImage("down")' @select='selectImage')

      //- .preview-content__index 
      //-   span {{ activeIndex+1 }}
    .preview-content__container
      //- .preview-content__index {{ activeIndex+1 }}
      .preview-content__text-content
        ul.preview-content__tags  
          li.preview-content__tag(v-for='(tag,index) in tags' :key='index')
            span {{ tag }}
        h3.preview-content__title {{ title }}
        p.preview-content__content {{ text }}
        a.preview-content__link(:href='link') 
          | Посмотреть сайт